In [1]:
import pandas as pd

In [2]:
depts = pd.read_csv('data/departments.csv')
emps = pd.read_csv('data/hired_employees.csv')
jobs = pd.read_csv('data/jobs.csv')

In [4]:

emps

         1         Harold Vogt  2021-11-07T02:48:42Z     2     96
0        2            Ty Hofer  2021-05-30T05:43:46Z   8.0    NaN
1        3         Lyman Hadye  2021-09-01T23:27:38Z   5.0   52.0
2        4       Lotti Crowthe  2021-10-01T13:04:21Z  12.0   71.0
3        5      Gretna Lording  2021-10-10T22:22:17Z   6.0   80.0
4        6      Marlow Antecki  2021-04-23T23:45:42Z   6.0   95.0
...    ...                 ...                   ...   ...    ...
1993  1995          Goran Yong  2021-08-22T21:57:53Z   2.0   83.0
1994  1996  Cirstoforo Youings  2021-04-01T17:48:42Z   3.0   23.0
1995  1997     Wilek Yurkevich  2021-05-04T12:19:50Z   2.0  132.0
1996  1998          Jerry Yven  2021-10-03T14:12:50Z   7.0  100.0
1997  1999       Jerri Zebedee  2022-01-18T10:47:37Z   8.0   80.0

[1998 rows x 5 columns]