In [2]:
import pandas as pd

In [4]:
depts = pd.read_csv('data/departments.csv')
emps = pd.read_csv('data/hired_employees.csv')
jobs = pd.read_csv('data/jobs.csv')

In [7]:

jobs

       1          Marketing Assistant
0      2                     VP Sales
1      3           Biostatistician IV
2      4    Account Representative II
3      5                 VP Marketing
4      6     Environmental Specialist
..   ...                          ...
177  179         Software Engineer II
178  180              Statistician IV
179  181         Programmer Analyst I
180  182     Account Representative I
181  183  Administrative Assistant IV

[182 rows x 2 columns]